@charset "utf-8";

/* blue : 39beee */
/* orange : f05a29 */

body {
  background: #6D6E71 url("../images/bg-1.jpg");

  font-family: helvetica, sans-serif; }

h1 {

}

#home { 



}

#home .header .navigation { background: #D1D3D4;}
#home .header .navigation p { float: left; width: 200px;}

#home .logo_large { 
width: 431px;
height: 350px;
  background: url('/images/logo_large.png') ;
  float: left;
}


#home .logo_large_text {
width: 431px;
height: 350px;
  background: url('/images/logo_text_medium.png') no-repeat ;
  float: left;
}


#home .