---
title: Turn + Zoom - a fast and easy way to embed a turn and zoom widget on your website 
---

#home

	%img{ :src => "images/logo.jpg"}
	
	= partial("partials/demo")
	
	= partial("partials/footer") 
