---
title: Turn + Zoom - a fast and easy way to embed a turn and zoom widget on your website 
---

#home
	%img{ :src => "images/deck.jpg", :style => "width:1936px; height:2592px;" }
	= partial("partials/person", :locals => {:name => name}) 
